extends layout

block content
  h1= title
  p Welcome to #{title}

  each match, i in matches
    if match.event
      span= match.event
        | &nbsp;-&nbsp;
    if match.stipulation
      span=match.stipulation
        | &nbsp;-&nbsp;
    if match.timeLimit
      span=match.timeLimit

    h1
      if match.wrestlers
        each wrestler, index in match.wrestlers
          =wrestler
          | &nbsp;
          if index <= match.wrestlers.length - 2
            | vs&nbsp;
